
{% extends "base.html" %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user}}</span><span class="text-black-50">{{followers}}</span><span> </span></div>
                       <div class="d-flex flex-column align-items-center text-center p-3 py-5"><span class="font-weight-bold">{{rating}}</span><span> </span></div>       
        </div>

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Seller Profile</h4>
                </div>
                <div class="row mt-2">
               
            <ul class="list-unstyled list">
                <li> <span class="font-weight-bold">Adverts</span>
                    <div> <span class="mr-1">5</span> <i class="fa fa-angle-right"></i> </div>
                </li>
                <li> <span class="font-weight-bold">Feedback</span>
                    <div> <span class="mr-1">45</span> <i class="fa fa-angle-right"></i> </div>
                </li>
                <li> <span class="font-weight-bold">Favorites</span>
                    <div> <span class="mr-1">15</span> <i class="fa fa-angle-right"></i> </div>
                </li>
            </ul>
            </div>
        </div>
  
                </div>
               
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
      
    </div>
</div>
</div>
</div>
